<div class="container">
<section ng-controller="PropertyController" class="animated fadeIn">
  <script type="text/javascript" src="../../../app/views/index.ejs">
  </script>
  <center>
  <h2>New Property</h2>
  <form class="new-property" ng-submit="createUserProperty()" novalidate>
    <div>
      <label for="post code">Post Code</label>
      <div>
        <input type="text" ng-model="post_code" id="post_code" placeholder="Post code required">
      </div>
    </div>
    <div>
      <label for="street name">Street Name</label>
    <div>
      <input type="text" ng-model="street_name" id="street_name"></input>
    </div>
  </div>
  <div>
    <div>
      <label for="property type">Property Type</label>
    <div>
      <select ng-model="property_type" id="property_type">
        <option value="">Select a property type</option>
        <option selected> Flat </option>
        <option> House </option>
      </select>
    </div>
  </div>
  <div>
    <div>
      <label for="landlord name">Landlord name</label>
    <div>
      <input type="text" ng-model="landlord_name" id="landlord_name"></input>
    </div>
  </div>
  <div>
    <label for="contract start">Contract Start</label>
  <div>
    <input type="date" ng-model="contract_start" id="contract_start"></input>
  </div>
</div>
<div>
  <label for="contract end">Contract End</label>
<div>
  <input type="date" ng-model="contract_end" id="contract_end"></input>
</div>
</div>
<br>
  <div>
    <button type="submit" class="btn btn-danger"> Add Property To Rental History</button>
  </div>
  <div ng-show="error">
    <strong ng-bind="error"></strong>
  </div>
  </form>
</center>
</section>
</div>
