<div class="container" ng-controller="MapsController">
  <h1> Maps </h1>
  <div class="header">
    <h3 class="text-muted"> Tenant Finder Search </h3>
  </div>
  <!-- Map and Side Panel -->
  <div class="row content">
    <!-- Google Map -->
    <div class="col-md-7">
      <div id="map" style="width:645px; height:645px"></div>
    </div>
    <!-- Side Panel -->
    <div class="col-md-5">
      <div class="panel panel-default">
        <!-- Panel Title -->
        <div class="panel-heading">
          <h2 class="panel-title text-center"> Add your details to Tenant Finder <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>
        <!-- Panel Body -->
        <div class="panel-body">
          <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
          <form name ="addForm" novalidate>
            <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
            <div class="form-group">
              <label for="language">Desired Location</label>
              <input type="text" class="form-control" id="desired_location" placeholder="Insert postcode" ng-model="formData.desiredLocation" >
            </div>
              <div class="form-group">
                <label for="verified">Auto Locate <span><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                <input type="text" class="form-control" id="verified" placeholder= "" ng-model="formData.htmlverified" readonly>
              </div>
              <button type="submit" class="btn btn-danger btn-block" ng-disabled="addForm.$invalid" ng-click="updateUserDetails()">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p class="text-center"><span class="glyphicon glyphicon-check"></span> Created by Alaan, Ez, Julien and Mattia -
    <a href="https://github.com/Alaanzr/Tenant_App_API">Github Repo</a></p>
  </div>
</div>
