<section ng-controller="MainController">
  <div ng-show="authentication.user">

    <ul>
      <li><a href="/#!/properties/create">Add Property</a></li>
    </ul>


    <center>
      <h3>Hello <span ng-bind="authentication.user.fullName"></span></h3>
      <img ng-src="{{authentication.user.image}}" class="profile_image" /img>
    </center>


    <div id="profile" class="list-group">
      <h3> Profile </h3>
      <div class="list-group-item">
        <a href="" ng-click="changeEditStatus()" class="pull-right"><i class="fa fa-pencil fablack pull-right"></i></a>
        <!-- <h5> Name: <span> {{authentication.user.fullName}} </h5>
        <h5> Username: {{authentication.user.username}} </h5> -->
        <h5> Description: </h5> <span><p> {{authentication.user.currentArea}}</p> </span>
      </div>
    </div>

    <br>

    <div ng-show="editStatus" class="list-group">
      <div class="list-group-item">
        <h5> Description: </h5>
        <textarea ng-model="description" name="description" id="description" rows="5" cols="126"></textarea>
        <h5> Profile Image: </h5>
        <input ng-model="image" type="text" name="name" value="">
        <button type="submit" name="button" ng-click="updateProfile()">Update Profile</button>
      </div>
    </div>

    <ul class="list-group" ng-show="authentication.user.properties.length > 0" ng-hide="editStatus">
          <h3> User Properties </h3>
        <li class="list-group-item" ng-repeat="property in authentication.user.properties">
          <h4> Property # {{$index + 1}} </h4>
          <p> Post Code: {{property.post_code}} </p>
          <p> Street Name: {{property.street_name}} </p>
          <p> Property Type: {{property.property_type}} </p>
          <p> Contract Start: {{property.contract_start}} </p>
          <p> Contract End: {{property.contract_end}} </p>
        </li>
      </ul>
  </div>
</section>
