<section ng-controller="MainController" class="animated fadeIn">
  <div ng-show="authentication.user">

    <!--<ul>-->
      <!--<li><a href="/#!/properties/create">Add Property</a></li>-->
    <!--</ul>-->

    <center>
      <h2> <span ng-bind="authentication.user.fullName" ></span></h2><br>
      <img ng-src="{{authentication.user.profile_picture}}" class="profile_image" /img>
      <br>
      <a href="" ng-click="changeEditStatus()" ng-show="authentication.user.description == ''"><img class="images" src="/images/Profile.png"/></a>
      <a href="" ng-click="changeContactStatus()" ng-show="authentication.user.email == ''"><img class="images" src="/images/Contact.png"/></a>
      <a href="/#!/properties/create" ng-click="changePropertyStatus()" ng-show="authentication.user.properties.length === 0"><img class="images" src="/images/House.png"/></a>
    </center>


    <div id="profile" class="list-group" ng-show="profileAvailable()">
      <h3> Profile </h3>
      <div class="list-group-item">
        <a href="" ng-click="changeEditStatus()" class="pull-right"><i class="fa fa-pencil fablack pull-right"></i></a>
        <h5> About Me </h5> <span><p> {{authentication.user.description}}</p> </span>
      </div>
    </div>

    <br>

    <div ng-show="editStatus" class="list-group animated slideInUp">
      <form class="contactForm">
        <h3> About Me </h3>
        <textarea ng-model="description" name="description" id="description" rows="5"></textarea>
        <h3> Profile Image </h3>
        <input class="avatar-url" ng-model="image" type="text" name="name" value="" placeholder="Drag your profile image here">
        <button type="submit" name="button" ng-click="updateProfile()" class="btn btn-danger center-block" id="updateProfile">Update Profile</button><br>
        <!-- <button type="submit" name="button" ng-click="updateProfile()" class="btn btn-danger pull-right" id="updateProfile">Update Profile</button><br> -->
        </form>
    </div>

    <div class="list-group" ng-show="contactDetailsAvailable()">
      <h3> Contact Details </h3>
      <div class="list-group-item">
        <a href="" ng-click="changeContactStatus()" class="pull-right"><i class="fa fa-pencil fablack pull-right"></i></a>
        <h5> Email: </h5> <span><p> {{authentication.user.email}}</p> </span>
        <h5> Mobile: </h5> <span><p> {{authentication.user.mobile}}</p> </span>
        <h5> Current Location: </h5> <span><p> {{authentication.user.current_location}}</p> </span>
      </div>
    </div>

    <br>

    <div ng-show="contactDetailsStatus" class="list-group animated slideInUp">

        <form class="contactForm">
        <h5> Email: </h5>
        <input ng-model="email" type="email" name="email" placeholder="Insert Email">
        <h5> Mobile: </h5>
        <input ng-model="mobile" type="text" name="mobile" placeholder="Insert Mobile">
        <h5> Current Location: </h5>
        <input ng-model="current_location" type="text" name="current_location" placeholder="Insert Current Location">
        <center>
        <button type="submit" name="button" ng-click="updateContactDetails()" class="btn btn-danger">Update Profile</button>
      </center>
        </form>
    </div>

    <ul class="list-group" ng-show="authentication.user.properties.length > 0">
          <h3> User Properties <a href="/#!/properties/create"><i class="fa
                fa-plus" id="plus-icon"></i></a></h3>
        <li class="list-group-item" ng-repeat="property in authentication.user.properties">
          <h4> Property # {{$index + 1}} </h4>
          <p> Post Code: {{property.post_code}} </p>
          <p> Street Name: {{property.street_name}} </p>
          <p> Property Type: {{property.property_type}} </p>
          <p> Contract Start: {{property.contract_start | date: 'MM/dd/yyyy'}} </p>
          <p> Contract End: {{property.contract_end | date: 'MM/dd/yyyy'}} </p>
        </li>
      </ul>

      <!-- <div ng-show="editStatus" class="list-group">
        <div class="list-group-item">
          <h5> Description: </h5>
          <textarea ng-model="description" name="description" id="description" rows="5" cols="126"></textarea>
          <h5> Profile Image: </h5>
          <input ng-model="image" type="text" name="name" value="">
          <button type="submit" name="button" ng-click="updateProfile()">Update Profile</button>
        </div>
      </div>

      <div class="list-group" ng-show="contactDetailsAvailable()">
        <h3> Contact Details </h3>
        <div class="list-group-item">
          <a href="" ng-click="changeContactStatus()" class="pull-right"><i class="fa fa-pencil fablack pull-right"></i></a>
          <h5> Name: <span> {{authentication.user.fullName}} </h5>
          <h5> Username: {{authentication.user.username}} </h5>
          <h5> Email: </h5> <span><p> {{authentication.user.email}}</p> </span>
        </div>
      </div> -->
  </div>
</section>
