body {
  font: 14px 'Helvetica', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  background-image: url('../images/skyline.svg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-position:center bottom;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

.containerHomePage {
  /*position: relative;*/
  /*background: #000 url("jumbotron-bg.png") center center;*/
  /*margin-top: 4vh;*/
  /*margin-bottom: 1vh;*/
  min-width: 100%;
  min-height: 88vh;
  background-size: cover;
  /*overflow: hidden;*/
  background-image: url("../images/housemate_new.jpg");
  /*opacity:0.5;*/
}

#logo {
  /*opacity: 1;*/
  color: white;
  font-size: 60px;
  font-family: helvetica;
  /*background: black;*/

  /*height: 1[>00px;<]*/
  /*line-height: 100px;*/
  padding: 400px;
  /*[>white-spac<]e: nowrap;*/
}


#blackBar{
  clear: both,
  position:fixed;
  top:0;
  left:0;
  width:100%;
  min-height:60px;
  background-color:#232B2B;
}

#plus-icon {
  float: right;
}

#footer {
  position: absolute;
  bottom:0px;
  /*margin: 0 auto;*/
  margin-bottom: 2px;
  width: 100%;
  font-size: 18px;
}

.center {
  margin: 0 auto;
  max-width: 550px;
}

.list-group {
  max-width: 900px;
  margin: 0 auto;
}

.faicon {
  margin: 8px 20px;
  color: white;
}

.fablack {
  color: black;
}

#container {
  background: #fff;
  margin: 50px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.list-group-item {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
  0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #cc0000;
  font: 50px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h4 {
  text-align: center;
}

.profile-main h4, .profile-main p, .profile-main h5 {
  font-size: 1.4em;
  text-align: left;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font: 50px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}



#noti_Container {
  position:relative;     /* This is crucial for the absolutely positioned element */
  /*border:1px solid blue; /* This is just to show you where the container ends */
  width:16px;
  height:16px;
}

.noti_bubble {
  position:absolute;    /* This breaks the div from the normal HTML document. */
  top: -3px;
  right:-25px;
  padding:1px 2px 1px 2px;
  background-color:black; /* you could use a background image if you'd like as well */
  color:white;
  font-weight:bold;
  font-size:0.47em;

  /* The following is CSS3, but isn't crucial for this technique to work. */
  /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
  /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
  border-radius:10px;
}

.profile_image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.list-group {
  word-wrap: break-word;
}

.test {
  background-color: red;
}

.images {
  margin: 5%;
  /*margin-top: 100px;
  margin-bottom: 100px;*/
  height: 130px;
  width: 130px;
}

.navcolour {
  background-color: #419bd2;
}

.glyphicon, .navright {
  color: white;
}

.faicon:hover, .brand:hover {
  color: #d15656;
}

.navbar-nav > li > a:hover {
  background-color: #d15656;
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  color: black;
}

.brand {
  color: white;
}

.connection-image {
  border-radius: 50%;
  border: solid black 3px;
  height: 100px;
  width: 100px;
}

.connection-list {
  list-style: none;
}

.requests {
  margin-bottom: 200px;
}

.rounded-border {
  border-radius: 50%;
}

#description {
  width:100%;
}

#updateProfile {
  margin-bottom: 2px;
}

input.avatar-url {
  border: grey dashed 1px;
  text-align: center;
  width: 100%;
  height: 5em;
  margin-bottom: 2em;
}

form.new-property {
  width: 45%;
  background-color: #FFF;
  padding: 2em 2em 1em 2em;
}

form.new-property div label {
  text-align: left !important;
}

form.new-property input, form.new-property select {
  padding: 1em;
  background-color: #EFEFEF;
  border: none;
  width: 100%;
}

form.new-property input, form.new-property select, form.new-property button {
  margin-bottom: 1.5em;
}

form.contactForm {
  width: 100%;
  background-color: #FFF;
  padding: 2em 2em 1em 2em;
}

form.contactForm div label {
  text-align: left !important;
}

form.contactForm input, form.contactForm select, form.contactForm textarea {
  padding: 1em;
  background-color: #EFEFEF;
  border: none;
  width: 100%;
}

form.contactForm input, form.contactForm select, form.contacForm button {
  margin-bottom: 1.5em;
}
