<div ng-controller="ConnectionController" ng-init=collectUserDetails()>
<h1> {{data.username}} </h1>
<h5> Username: {{data.username}}</h5>
<h5> Desired Location: {{data.desiredLocation}}</h5>

<!-- <div ng-show="outstandingConnections()">
  <p> Outstanding Connection Requests: </p>
  <button type="button" name="button">Accept</button>
</div> -->


Outstanding Requests:
<div>
<ul ng-repeat="request in requests_recd track by $index">
  {{request}}
  <button type="button" name="button">Accept</button>
  <button type="button" name="button">Reject</button>
</ul>
</div>

</div>
