<div ng-controller="ConnectionController" ng-init=collectUserDetails()>
<h1> current user: {{data.username}} </h1>
<h5> Username: {{data.username}}</h5>
<h5> Desired Location: {{data.desiredLocation}}</h5>

<!-- <div ng-show="outstandingConnections()">
  <p> Outstanding Connection Requests: </p>
  <button type="button" name="button">Accept</button>
</div> -->


Outstanding Requests:
<div>
<ul ng-repeat="request in requests_recd track by $index">
  <li>
  <a href="/#!/users/{{requestees[$index].id}}"> sender request: {{requestees[$index].username}} </a>
  <button type="button" name="button" ng-click="acceptConnection()">Accept</button>
  <button type="button" name="button" ng-click="rejectConnection()">Reject</button>
  </li>
</ul>

<p> Test request: </p>
<button type="button" ng-click="acceptConnection()">
  <li id='1'>ONE</li>
</button>
<ul ng-repeat="connection in authentication.user.connections track by $index">

  <li>
    <!--<a href="/#!/users/{{connection[$index].id }}"> {{ connection.username-->
      <!--}}</a>-->

      {{ connection.username }}

  </li>
</ul>
</div>

</div>
