<div ng-controller="UserController" ng-init=collectUserDetails()>
  <center>
  <h1> {{data.username}} </h1>
  <img class="profile_image" src="{{data.image}}" />
</center>
<div ng-show="connected">

  <ul class="list-group" ng-show="authentication.user.properties.length > 0">
        <h3> User Properties </h3>
      <li class="list-group-item" ng-repeat="property in data.properties">
        <h4> Property # {{$index + 1}} </h4>
        <p> Post Code: {{property.post_code}} </p>
        <p> Street Name: {{property.street_name}} </p>
        <p> Property Type: {{property.property_type}} </p>
        <p> Contract Start: {{property.contract_start}} </p>
        <p> Contract End: {{property.contract_end}} </p>
      </li>
    </ul>

</div>
<button type="button" ng-click="sendConnection()" ng-hide="connected">Send a connection</button>

<!--<div ng-show="outstandingConnections()">-->
  <!--<p> Outstanding Connection Requests: </p>-->
  <!--<button type="button" name="button">Accept</button>-->
<!--</div>-->

</div>
