<div ng-controller="UserController" ng-init=collectUserDetails()>
  <center>
  <h1> {{data.username}} </h1>
  <img class="profile_image" src="{{data.image}}" />
</center>
<div ng-show="connected">

  <div id="profile" class="list-group">
    <h3> Profile </h3>
    <div class="list-group-item">
      <h5> Description: </h5> <span><p> {{data.currentArea}}</p> </span>
    </div>
  </div>


  <ul class="list-group" ng-show="data.properties.length > 0">
        <h3> User Properties </h3>
      <li class="list-group-item" ng-repeat="property in data.properties">
        <h4> Property # {{$index + 1}} </h4>
        <p> Post Code: {{property.post_code}} </p>
        <p> Street Name: {{property.street_name}} </p>
        <p> Property Type: {{property.property_type}} </p>
        <p> Contract Start: {{property.contract_start | date: "MM/dd/yyyy"}} </p>
        <p> Contract End: {{property.contract_end | date: "MM/dd/yyyy"}} </p>
      </li>
    </ul>

</div>
<a href="" <i type="button" ng-click="sendConnection()" ng-hide="connected" class="fa fa-user-plus fa-2x"></i></a>

<!--<div ng-show="outstandingConnections()">-->
  <!--<p> Outstanding Connection Requests: </p>-->
  <!--<button type="button" name="button">Accept</button>-->
<!--</div>-->

</div>
