<!DOCTYPE html>
<html>
<head>
  <title><% title %></title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div ng-controller="MainController">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Tenant App</a>
        </div>

            <div>
              <ul class="nav navbar-nav" ng-show="authentication.user">
                <a href="#!/"><i class="fa fa-home faicon fa-2x"></i></a>
                <a href="#!/properties/create"><i class="fa fa-user faicon fa-2x"></i></a>
                <a href="#!/maps"><i class="fa fa-cogs faicon fa-2x"></i></a>
                <a href="#/"><i class="fa fa-file faicon fa-2x"></i></a>
              </ul>
              <ul class="nav navbar-nav navbar-right" ng-show="!authentication.user">
                <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
                <li><a href="/signout"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>
              </ul>
            </div>
          </div>
      </div>
</nav>

<div ng-show="!authentication.user" class="jumbotron">
  <div class="container">
    <h1> Tenant Finder </h1>
  </div>
</div>
</div>

  <section ng-view></section>

  <script type="text/javascript">
    window.user = <%- user || 'null' %>
  </script>

  <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js"></script>
  <script type="text/javascript" src="/bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=" + process.env.GOOGLE_MAPS_API></script>
  <script type="text/javascript" src="/bower_components/modernizr/bin/modernizr"></script>
  <script type="text/javascript" src="/main/main.client.module.js"></script>
  <script type="text/javascript" src="/main/controllers/main.client.controller.js"></script>
  <script type="text/javascript" src="/main/config/main.client.routes.js"></script>
  <script type="text/javascript" src="/users.client.module.js"></script>
  <script type="text/javascript" src="/properties.client.module.js"></script>
  <script type="text/javascript" src="/properties/services/properties.client.services.js"></script>
  <script type="text/javascript" src="/properties/config/properties.client.routes.js"></script>
  <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
  <script type="text/javascript" src="/properties/controllers/properties.client.controller.js"></script>
  <script type="text/javascript" src="/maps.client.module.js"></script>
  <script type="text/javascript" src="/maps/config/maps.client.routes.js"></script>
  <script type="text/javascript" src="/application.js"></script>


</body>
</html>
